svg {
  height: 30px;
  width: 40px;
  cursor: pointer;
  padding-top: 30px;
  color: rgba(100, 4, 12, 0.871);
  margin-bottom: -10px;
}

.back {
  background-color: rgb(20, 19, 19);
  color: white;
  margin-bottom: 20px;
}

.companyLogo {
  width: 120px;
  height: 120px;
}

.sec1 {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  margin: 0px 5px 0px 5px;
  border-radius: 35px;
  background-color: #5022e9;
  margin-top: 8px;
}

.sec2 {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  margin-right: 5px;
  font-family: Arial;
  border-radius: 35px;
  background-color:#5022e9;
  margin-top: 8px;
}