.main-container {
  padding: 10px;
  background-color:#5c5959;
}

.header {
  font-weight: bold;
  text-align: left;
  color: aqua;
}

.tab {
 overflow: hidden;
  border: 10px solid #242323;
  background-color: rgb(156, 157, 158);
  width:335px
}

.tab button {
  background-color: white;
  float: left;
  height: 75px;
  width: 150px;
  font-size: 25px;
}

.tab button:hover {
  background-color: #bdbcbc;
}


/* Style the tab content */
.tabcontent {
  display: block;
  padding: 100%;
  border: 1px solid #ccc;
  border-top: none;
}

.tablinks {
  color: rgb(14, 14, 220);
  cursor: pointer;
  padding: 15px 17px;
  font-size: 50px;
  width: 45%;
}
