<div *ngIf="isFavorite">
    <div *ngFor="let bestJob of favoriteJobList">
        <div class="row">
            <div class="col">
                <img src="{{bestJob.companyLogo}}" alt="Favorite Job Image" />
            </div>
            <div class="col">
                <a (click)="jobDetail(bestJob)">
                    <h3>{{bestJob.title}}</h3>
                </a>
                <div class="disc">
                    <h5>Company : {{bestJob.companyName}} Reference : {{bestJob.reference}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isFavorite">
    <div class="favjob">{{noBestJob}}</div>
</div>