<div *ngIf="isFav">
    <div *ngFor="let niceJob of favoriteJobList">
        <div class="row">
            <div class="col">
                <img src="{{niceJob.companyLogo}}" alt="Favorite Job Image" />
            </div>
            <div class="col">
                <a (click)="jobDetail(niceJob)">
                    <h3>{{niceJob.title}}</h3>
                </a>
                <div class="disc">
                    <h5>Company : {{niceJob.companyName}} Reference : {{niceJob.reference}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isFav">
    <div class="favjob">{{noBestJob}}</div>
</div>